{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Recommendation System</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">Recommendation System</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url 'home' %}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'questionnaire' %}>Questionnaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'recommend' %}>Recommendation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'search' %}>Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ title }}
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Search: Search more movie here</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
      
        <!-- Preview Image -->
        <!-- <img class="img-fluid rounded" src="{% static '123456.jpg' %}" alt=""> -->
        <!-- <img class="img-fluid rounded" src="http://placehold.it/50x50" alt=""> -->

        <hr>

        <!-- Date/Time -->

        <!-- Post Content -->
        <p class="lead">You need to enter the title of the movie you want to view correctly</p>

        

        <hr>

        <form method="POST">
        {% csrf_token %}

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Search movie:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <input text class="form-control" rows="3" name="film_title"></text>
              </div>
              <button type="submit" class="btn btn-primary" value="Search">Submit</button>
            </form>
          </div>
        </div>
        </form>


        <form method="POST">
        
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <!-- <input type="submit" value="Search"> -->
        {% if message %}
        <div style="color:red" >{{ message }}</div>
        {% endif %}
        {% if filmlist %}
            {% for film in filmlist %}
            <li> {{ film.title }} </li>
            {% endfor %}
        {% endif %}
        </form>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
